{% extends "website/base.html" %}
{% load staticfiles %}

{% load widget_tweaks %}

{% block title %}Tune Audit-Registeration Complete{% endblock %}
{% block navigation %} {% endblock %}
{% block slider %} {% endblock %}

{% block content %}   
     
        <h1> Registration complete you may <a href="{% url 'website:homepage' %}">upload your work</a> now </h1>

{% endblock %}


