{% extends "website/base.html" %}
{% load staticfiles %}

{% load widget_tweaks %}

{% block title %}Tune Audit-Register{% endblock %}
{% block navigation %} {% endblock %}
{% block slider %} {% endblock %}

{% block content %}   
     
          <!-- Register starts -->
            
            <div class="logreg">
               <div class="row">
                  <div class="col-md-12">
                     <div class="logreg-page">
                        <h3>Register with <span class="color">Tune Audit</span></h3>                        
                        <hr />
                                    <div class="form">
                                      <!-- Register form (not working)-->
                                      <form action="" method="post"   class="form-horizontal">
                                         {% csrf_token %}

                                       <!-- {{ form.as_p }} -->
                                       <!-- {{form.errors}}  -->
                                       {{ form.non_field_errors }}
                                        {{ form.first_name.errors }}
                                          <div class="form-group">
                                            <label class="control-label col-md-3" for="id_firstname">First Name</label>
                                            <div class="col-md-9">
                                              {{ form.first_name|add_class:"form-control" }}
                                             
                                            </div>
                                          </div>   
                                          <!-- lName -->
                                          {{ form.last_name.errors }}
                                          <div class="form-group">
                                            <label class="control-label col-md-3" for="id_lastname">Last Name</label>
                                            <div class="col-md-9">
                                             <!-- <input type="text" class="form-control" id="{{form.lastname}}" name="lastname"> -->
                                              {{ form.last_name|add_class:"form-control" }}
                                            </div>
                                          </div> 
                                          
                                          <!-- Email -->
                                          {{ form.email.errors }}
                                          <div class="form-group">
                                            <label class="control-label col-md-3"for="id_email">Email</label>
                                            <div class="col-md-9">
                                              {{ form.email|add_class:"form-control"  }}
                                            </div>
                                          </div>
                                          <!-- Select box -->
                                        <!--  <div class="form-group">
                                            <label class="control-label col-md-3" for="select">DropDown</label>
                                            <div class="col-md-9" >                               
                                                <select class="form-control" id="select">
                                                <option>&nbsp;</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                </select>  
                                            </div>
                                          </div>      -->                                     
                                          <!-- Username -->
                                           {{form.username.errors }}
                                          <div class="form-group">
                                            <label class="control-label col-md-3" for="id_username">Username</label>
                                            <div class="col-md-9">
                                               {{ form.username|add_class:"form-control" }}
                                            </div>
                                          </div>
                                          <!-- Password 1-->
                                           {{ form.password.errors }}
                                          <div class="form-group">
                                            <label class="control-label col-md-3" for="id_password">Password</label>
                                            <div class="col-md-9">
                                              {{ form.password1|add_class:"form-control"  }}
                                            </div>
                                          </div>

                                          <!-- Password 2-->
                                           {{ form.password.errors }}
                                          <div class="form-group">
                                            <label class="control-label col-md-3" for="id_password">Password Again</label>
                                            <div class="col-md-9">
                                              {{ form.password2|add_class:"form-control"  }}
                                            </div>
                                          </div>
                                    
                                  
                                          <!-- Checkbox -->
                                          <div class="form-group">
                                             <div class="col-md-8 col-md-offset-3">
                                                <label class="checkbox-inline">
                                                   <input type="checkbox" id="inlineCheckbox1" value="agree"> Agree with Terms and Conditions
                                                </label>
                                             </div>
                                          </div> 

                                         
                                          <!-- Buttons -->
                                          <div class="form-group">
                                             <!-- Buttons -->
                       <div class="col-md-8 col-md-offset-3">
                        <input type="submit" value="Submit" class="btn btn-default" />
                        <button type="reset" class="btn btn-default">Reset</button>
                            </div>


                                          </div>
                                    </form>
                                      <hr />
                                          <div class="lregister">
                                             Already have account with us? <a href="{% url 'website:homepage' %}">upload your work</a>
                                          </div>
                                    </div>                           
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- Login ends -->

{% endblock %}


