{% load i18n %} 
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>django-audiotracks example - {% block title %}Homepage{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="{% static 'tracks/css/bootstrap-2.0.css' %}">
    <link rel="stylesheet" href="{% static 'tracks/css/style.css' %}"> 
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">django-audiotracks demo</a>
          <ul class="nav">
            <li class="active"><a href="{% url 'tracks:home' %}">Home</a></li>
            <li><a href="{% url 'audiotracks' %}">Audio tracks</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'user_index' user.username %}">{% trans 'Your tracks' %}</a></li>
                <li><a href="{% url 'upload_track' %}">{% trans 'Upload track' %}</a></li>
                {% if user.is_staff %}<li><a href="/admin">Admin</a></li>{% endif %}
                <li><a href="{% url 'website:logoutview' %}">Logout</a></li>
            {% endif %}
          </ul>
          {% if not user.is_authenticated %}
          <form action="{% url 'website:my_login' %}" class="navbar-form pull-right" method="post">
            {% csrf_token %}
            <input class="input-small" type="text" name="username" placeholder="Username">
            <input class="input-small" type="password" name="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {% block body %}{% endblock %}
        {% block extra_body %}{% endblock %}
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
