{% extends 'tracks/base_2.html' %}


{% block body %}
<p>
  This is a sample project for django-audiotracks
</p>
<ul>
  <li><a href="{% url 'audiotracks' %}">Go to audio tracks</a></li>
</ul>
{% endblock %}
