{% extends "audiotracks/base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<div class="audiotracks-form">
  <p>
  {% blocktrans with track.title as title %}Are you sure you want to delete "{{ title }}"? This can't be undone.{% endblocktrans %}
  </p>
  <form method="POST" action="{% url 'delete_track' %}">
    {% csrf_token %}
    <input type="hidden" name="track_id" value="{{ track.id }}">
    <input type="hidden" name="came_from" value="{{ came_from }}">
    <button class="btn btn-danger">{% trans 'Yes, delete this track' %}</button>
  </form>
</div>
{% endif %}
{% endblock %}
