{% extends "audiotracks/mediaelement_base.html" %}
{% load i18n %}

{% block content %}
<div class="audiotracks-detail js-audiotracks-container" align="center">
  {% if track.image %}
  <img src="{{ track.image.url_200x200 }}" />
  {% endif %}
  {% include "audiotracks/listing_item.html" %}
  {% if track.description %}
  <div class="audiotracks-description">
    {{ track.description }}
  </div>
  {% endif %}
  <div class="audiotracks-download">
    <a class="btn btn-large btn-success" href="{{ track.audio_file.url }}">
      {% blocktrans with size=track.audio_file.size|filesizeformat  type=track.filetype %}
      Download {{ type }} file ({{size}})
      {% endblocktrans %}
    </a>
  </div>
{% if track.user == request.user %}
<p>
  <a class="btn btn-primary" href="{% url 'edit_track' track.id %}">{% trans 'Edit' %}</a>
  <a class="btn btn-danger" href="{% url 'confirm_delete_track' track.id %}">{% trans 'Delete' %}</a>
</p>
{% endif %}
</div>
{% endblock %}
