{% extends "audiotracks/mediaelement_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div align="center">
<h1>{% trans 'Latest Tracks' %}</h1>
<br/>

<div align="center">
 {% include '_pagination.html' %} 
</div>


 <div class="teams">
  <div class="row">
{% for track in tracks %}
 
     
<div class="col-md-3 col-sm-3 col-xs-6">
                              
                                 <div class="staff">
                                 <div class="pic">
                                    {% if track.image %}
    <img class="track-image" src="{{ track.image.url_200x200 }}" alt="{% trans 'Track Image' %}" />
    {% endif %}
                                 </div>
                                   <div class="track-details">
      <a href="{% url 'track_detail' track.user.username track.slug %}">
        <p class="track-title js-audiotracks-title">
        {% if track.artist %} {{ track.artist }} &#8211; {% endif %}{{ track.title|title }}{% if track.genre %} ({{ track.genre }}){% endif %}
        </p>
      </a>
      <p class="upload-details">
        {% trans 'uploaded by' %}
        {{ track.user.username }}
        {% blocktrans with track.created_at|timesince as track_age %}{{ track_age }} ago{% endblocktrans %}
      </p>
    </div>

     <div class="player-container">
      <audio preload="none">
        <source src="{{ track.audio_file.url }}" type="{{ track.mimetype }}">
      </audio>
    </div>
    <p/>
     <p class="debug-info">Player type: <span class="audio-type"></span></p>

                                
                             
                         </div>
                  </div>
                 <hr/>
                 <hr/>
             


        {%empty %}
    <h4> sorry no tracks available ,login to upload new tracks</h4> 
                      

{% endfor %}
</div>
</div>
</div>




{% endblock %}

    


