{% extends "website/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Tune Audit-Login{% endblock %}

{% block slider %} {% endblock %}

{% block content %}   
  {% if user.is_authenticated %}
<form class="audiotracks-form" id="audiotracks-upload-form" 
      method="POST" enctype="multipart/form-data" action="{% url 'upload_track' %}">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans 'Upload a new track' %}</legend>
    {{ form.as_p }}
  </fieldset>
  <p>
  <button class="btn primary">{% trans 'Upload' %}</button>
  </p>
</form>
{% endif %}   
{% endblock %}


