{% extends "website/base.html" %}
{% load i18n admin_static %}
{% load widget_tweaks %}

{% block navigation %} {% endblock %}

{% block slider %} {% endblock %}

{% block content %}
 
            <div class="logreg">
               <div class="row">
                  <div class="col-md-12">
                     <div class="logreg-page">
                        <h3>Sign In  <span class="color">Tune Audit</span></h3>                        
                        <hr />
                                    <div class="form">
                                      <!-- Login form (not working)-->
                                      <form   action="" method="post"   class="form-horizontal">
                                        {% csrf_token %}
                                          <!-- Username -->
                                          {{form.errors}}
                                       {{ form.non_field_errors }}
                                        {{ form.username.errors }}
                                          <div class="form-group">
                                            <label class="control-label col-md-3" for="id_username">Username</label>
                                            <div class="col-md-9">
                                              
                                                {{ form.username|add_class:"form-control"  }}
                                            </div>
                                          </div>
                                          <!-- Password -->
                                           {{ form.password.errors }}
                                          <div class="form-group">
                                            <label class="control-label col-md-3" for="id_password">Password</label>
                                            <div class="col-md-9">
                                               {{ form.password|add_class:"form-control"  }}
                                            </div>
                                          </div>
                                          <div class="form-group">
                                             <div class="col-md-9 col-md-offset-3">
                                                <label class="checkbox-inline">
                                                <input type="checkbox"> Remember me
                                                </label>
                                             </div>
                                          </div>                                                                               
                                          <!-- Buttons -->
                                          <div class="form-group">
                                             <!-- Buttons -->
                       <div class="col-md-9 col-md-offset-3">
                                            <input type="submit" value="Submit" class="btn btn-default" />
                                            <button type="reset" class="btn btn-default">Reset</button>
                      </div>
                    </div>  
                                      </form>
                    
                                      <hr />
                                          <div class="lregister">
                                             Don't have Account? <a href="{% url 'registration:registerview' %}">Register</a>|  <a href="{% url 'website:password_reset' %}">Forgotten password?</a>


                                          </div>
                                    </div>                       
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- Login ends -->        
{% endblock %}
