{% extends "website/base.html" %}
{% load i18n %}



{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block slider %} {% endblock %}
{% block content %}

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{% url 'tuneaudit:loginview' %}">Login</a></p>

{% endblock %}
