{% load staticfiles %}
{% load i18n %} 

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- Title here -->
		<title>{% block title %}Tune Audit{% endblock %}</title>




		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="{% static 'tuneaudit/css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Slider CSS -->
		<link href="{% static 'tuneaudit/css/slider.css' %}" rel="stylesheet">
		<!-- Pretty Photo -->
		<link href="{% static 'tuneaudit/css/prettyPhoto.css' %}" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="{% static 'tuneaudit/css/font-awesome.min.css' %}" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="{% static 'tuneaudit/css/style.css' %}" rel="stylesheet">
		<!-- Color Stylesheet - orange, blue, pink, brown, red or green-->
		<link href="{% static 'tuneaudit/css/green.css' %}" rel="stylesheet"> 
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'tuneaudit/img/favicon/favicon.png' %}">


  

	</head>
	
	<body>

<!-- Header starts -->

<header>
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-sm-4">
            <!-- Logo and site link -->
            <div class="logo">
               <h1><a href="{% url 'website:index' %}">Tune Audit<span class="color">.</span></a></h1>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4">
            <div class="list">
               <!-- Add your phone number here -->
               <div class="phone">
                  <i class="fa fa-phone"></i> Phone:233-271793508
               </div>
               <hr />
               <!-- Add your email id here -->
               <div class="email">
                  <i class="fa fa-envelope-o"></i> Email: enquiries@tuneaudit.com
               </div>
               <hr />
               <!-- Add your address here -->
               <div class="address">
                  <i class="fa fa-home"></i> Address: 12, Srtington Street, NY
               </div>
            </div>
         </div>
      </div>
   </div>
</header>




<!-- Header ends -->

{% block navigation %}
<!-- Navigation Starts -->
		<!-- Note down the syntax before editing. It is the default twitter bootstrap navigation -->
		<div class="navbar bs-docs-nav" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<!-- Navigation links starts here -->
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="{% url 'website:index' %}" class="da-link"> Home</a>
						</li>
						<!-- Navigation with sub menu. Please note down the syntax before you need. Each and every link is important. -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages #1 <b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="support.html">Support</a></li>
								<li><a href="products.html">Products</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="login.html">Login</a></li>                  
								<li><a href="about.html">About</a></li>
								<li><a href="service.html">Service #1</a></li>
								<li><a href="service1.html">Service #2</a></li>
								<li><a href="pricing.html">Pricing Table</a></li>
								<li><a href="careers.html">Careers</a></li>
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="team.html">Team</a></li>
							</ul>
						</li>   
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages #2 <b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="404.html">404</a></li>
								<li><a href="comingsoon.html">Coming Soon</a></li>
								<li><a href="resume.html">Resume</a></li>
								<li><a href="sitemap.html">Sitemap</a></li>
								<li><a href="process.html">Process</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="review.html">Review</a></li>
								<li><a href="project.html">Project</a></li>
								<li><a href="timeline.html">Timeline</a></li>
								<li><a href="full-width.html">Full Width</a></li>
								<li><a href="events.html">Events</a></li>
							</ul>
						</li>   
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="blog.html">Blog Main #1</a></li>
								<li><a href="blog1.html">Blog Main #2</a></li>
								<li><a href="blog2.html">Blog Main #3</a></li>
								<li><a href="blog-ls.html">Blog Left Sidebar</a></li>
								<li><a href="blog-ns.html">Blog No Sidebar</a></li>                  
								<li><a href="blog-single.html">Blog Single</a></li>
							</ul>
						</li>  
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="features.html">Features #1</a></li>
								<li><a href="features1.html">Features #2</a></li>
								<li><a href="features2.html">Features #3</a></li>
							</ul>
						</li>   
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="portfolio1.html">Portfolio #1</a></li>
								<li><a href="portfolio2.html">Portfolio #2</a></li>
								<li><a href="portfolio.html">Portfolio #3</a></li>
							</ul>
						</li> 
							
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
							<!-- Submenus -->
							<ul class="dropdown-menu">
								<li><a href="contact.html">Contact #1</a></li>
								<li><a href="contact1.html">Contact #2</a></li>
								<li><a href="clients.html">Clients</a></li>
							</ul>
						</li> 

						{% if user.is_authenticated %}
						<li class="dropdown">
							<a href="{% url 'website:logoutview' %}">Logout</a>
							
						</li> 
						{% else %}
          &nbsp;
      {% endif %}
						
					</ul>
				</nav>
			</div>
		</div>
		<!--/ Navigation Ends -->   
		
 {% endblock %}

<!-- Content strats -->

<div class="content">
	
   <div class="container">
      <div class="row">
         <div class="col-md-12">

            {% block slider %}
            <!-- Slider (Parallax Slider) -->
         
            <div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Lots of cool soundz </h2>
					<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><img src="{% static 'tuneaudit/img/parallax/7.jpg' %}" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Easy management, ask Spon</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><img src="{% static 'tuneaudit/img/parallax/2.png' %}" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Revolution</h2>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><img src="{% static 'tuneaudit/img/parallax/3.png' %}" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Quality Control</h2>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><img src="{% static 'tuneaudit/img/parallax/4.png' %}" alt="image01" /></div>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
            
            <!-- Slider ends -->

            <div class="bor"></div>

            {% endblock %}

            


            <div class="main-content">
{% block content %}


    

 {% endblock %}
            </div>

           
            
            

            <div class="bor"></div>

            

            
           
            
            
            <!-- Clients starts -->
               
            <div class="row">
               <div class="col-md-12">
                  <div class="clients">
						 <img class="img-responsive" src="{% static 'tuneaudit/img/clients/1.png' %}" alt="" />
						 <img class="img-responsive" src="{% static 'tuneaudit/img/clients/2.png' %}" alt="" />
						 <img class="img-responsive" src="{% static 'tuneaudit/img/clients/3.png' %}" alt="" />
						 <img class="img-responsive" src="{% static 'tuneaudit/img/clients/4.png' %}" alt="" />
						 <img class="img-responsive" src="{% static 'tuneaudit/img/clients/5.png' %}" alt="" />
						 <img class="img-responsive" src="{% static 'tuneaudit/img/clients/6.png' %}" alt="" />
                  </div>
               </div>
            </div>
            
            <!-- Clients ends -->
            
         </div>
      </div>
   </div>
  
</div>   

<!-- Content ends --> 


		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
					<!-- Widget 1 -->
					<div class="widget">
						<h4>About Us</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. </p>
						<!-- Social Media -->
						<div class="social">
							<a href="#"><i class="fa fa-twitter twitter"></i></a>
							<a href="#"><i class="fa fa-pinterest pinterest"></i></a>
							<a href="#"><i class="fa fa-facebook facebook"></i></a>
							<a href="#"><i class="fa fa-google-plus google-plus"></i></a>
							<a href="#"><i class="fa fa-linkedin linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
				 <!-- widget 2 -->
				 <div class="widget">
					<h4>Recent Posts</h4>
					   <ul>
						  <li><i class="fa fa-angle-right"></i> <a href="#">Sed eu leo orci, in rhoncus puru</a></li>
						  <li><i class="fa fa-angle-right"></i> <a href="#">Condimentum gravida metus</a></li>
						  <li><i class="fa fa-angle-right"></i> <a href="#">Lpsum, in rhoncus purus</a></li>
						  <li><i class="fa fa-angle-right"></i> <a href="#">Etiam at in rhoncus puru nul</a></li>
						  <li><i class="fa fa-angle-right"></i> <a href="#">Fusce vel magnais dapibus facilisis</a></li>
					   </ul>
				 </div>
			  </div>
			  <div class="col-md-4">
				 <!-- Widget 3 -->
				 <div class="widget">
					<h4>Categories</h4>
					<ul>
					   <li><i class="fa fa-angle-right"></i> <a href="#">Condimentum</a></li>
					   <li><i class="fa fa-angle-right"></i> <a href="#">Etiam at</a></li>
					   <li><i class="fa fa-angle-right"></i> <a href="#">Fusce vel</a></li>
					   <li><i class="fa fa-angle-right"></i> <a href="#">Vivamus</a></li>
					   <li><i class="fa fa-angle-right"></i> <a href="#">Pellentesque</a></li>
					</ul>
				 </div>
			  </div>
			 </div>
			 <div class="row">
			  <hr />
			  <div class="col-md-12"><p class="copy pull-left">
			  <!-- Copyright information. You can remove my site link. -->
					   Copyright &copy; <a href="#">Your Site</a> | Designed by <a href="http://responsivewebinc.com">Responsive Web Design</a></p></div>
			</div>
		  </div>
		</footer>		
		<!--/ Footer -->
	
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
			
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="{% static 'tuneaudit/js/jquery.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'tuneaudit/js/bootstrap.min.js' %}"></script>
		<!-- Isotope, Pretty Photo JS -->
		<script src="{% static 'tuneaudit/js/jquery.isotope.js' %}"></script>
		<script src="{% static 'tuneaudit/js/jquery.prettyPhoto.js' %}"></script>
		<!-- Support Page Filter JS -->
		<script src="{% static 'tuneaudit/js/filter.js' %}"></script>
		<!-- C Slider JS -->
		<script src="{% static 'tuneaudit/js/jquery.cslider.js' %}"></script>
		<script src="{% static 'tuneaudit/js/modernizr.custom.28468.js' %} "></script>
		<!-- Respond JS for IE8 -->
		<script src="{% static 'tuneaudit/js/respond.min.js' %}"></script>
		<!-- HTML5 Support for IE -->
		<script src="{% static 'tuneaudit/js/html5shiv.js' %}"></script>
		<!-- Custom JS -->
		<script src="{% static 'tuneaudit/js/custom.js' %}"></script>
		<script>
			$(function() {
			
				$('#da-slider').cslider({
					autoplay	: true,
					interval : 6000
				});
			
			});
		</script>



	</body>	
</html>