{% extends "website/base.html" %}
{% load staticfiles %}

{% load widget_tweaks %}

{% block title %}Tune Audit-Login{% endblock %}

{% block slider %} {% endblock %}

{% block content %}   
     
          <!-- Register starts -->
            
            <div class="logreg">
               <div class="row">
                  <div class="col-md-12">
                     <div class="logreg-page">
                        <h3>Enter email <span class="color">Tune Audit</span></h3>                        
                        <hr />
                                    <div class="form">
                                      <!-- Register form (not working)-->
                                      <form action="" method="post"   class="form-horizontal">
                                         {% csrf_token %}

                                       <!-- {{ form.as_p }} -->
                                       {{form.errors}}
                                       {{ form.non_field_errors }}
                             
                                    
                                          
                                          <!-- Email -->
                                          {{ form.email.errors }}
                                          <div class="form-group">
                                            <label class="control-label col-md-3"for="id_email">Email</label>
                                            <div class="col-md-9">
                                              {{ form.email|add_class:"form-control"  }}
                                            </div>
                                          </div>
                                                          
                                          
                                    
                                  
                            
                                          <!-- Buttons -->
                                          <div class="form-group">
                                             <!-- Buttons -->
                       <div class="col-md-8 col-md-offset-3">
                        <input type="submit" value="Submit" class="btn btn-default" />
                        <button type="reset" class="btn btn-default">Reset</button>
                            </div>


                                          </div>
                                    </form>
                                 
                                    </div>                           
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- Login ends -->

{% endblock %}


