{% extends "website/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Tune Audit-Login{% endblock %}

{% block slider %} {% endblock %}

{% block content %}   

  		 <div class="row">
  		 	<div class="col-md-3 col-sm-6">
							  
			</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <i class="fa fa-cloud"></i>
									 <h4><a href="{% url 'upload_track' %}">Upload Track</a></h4>
									 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
								  </div>
							   </div>
							</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <i class="fa fa-user"></i>
									 <h4><a href="{% url 'user_index' user.username %}">{% trans 'Your tracks' %}</a></h4>
									 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
								  </div>
							   </div>                        
							</div>
							                   
						 </div>

{% endblock %}





