{% extends "website/base.html" %}

{% block navigation %} {% endblock %}

{% block content %}

<div align="center">



 <h1>   <a href="{% url 'audiotracks' %}">Click here to view tunes</a></h1>
     <p>  <h3>   <a href="{% url 'website:homepage' %}" class="da-link"> Upload your work</a></h3> </p>

     {% if user.is_authenticated %}
     <p>  <h3>   <a href="{% url 'website:logoutview' %}" class="da-link">Logout</a></h3> </p>
     {% else %}
          &nbsp;
      {% endif %}
</div>
{% endblock %}



