/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
  margin: 12px 0;
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}


.navbar .btn {
  border: 0;
}

ul.audiotracks-list {
  margin-left: 0;
  margin-top: 16px;
}
ul.audiotracks-list li {
  margin-bottom: 5px;
  list-style: none;
}

.form-stacked { padding-left: 0; }
.audiotracks-form { padding-left: 20px; }
.audiotracks-form input { width: 300px; }
.audiotracks-form input[type=file] { width: auto; }
.audiotracks-form #save-button { clear: left; }
.audiotracks-form#delete-form { float: left; }
.audiotracks-form #delete-button { 
  position: relative; 
  top: -55px; 
  left: 160px; 
}
.audiotracks-edit-row img { vertical-align: middle; }
.audiotracks-edit-row { clear: both; margin-bottom: 10px; }
.audiotracks-edit-row .audiotracks-edit-half-row {
  float: left; 
  margin-right: 20px;
  margin-bottom: 10px;
}
#audiotracks-delete-image-label { 
  display: inline; 
  width: auto;
  float: none;
}
#delete_image {
  display: inline; 
  width: auto;
}
.messages { color: green; border: solid 1px green; padding: 0.2em; }
.messages li { list-style: none; }
.errorlist { color: red; list-style: none; display: inline; }
.errorlist li { color: red; }
.audiotracks-edit-row .errorlist { float: right; margin-bottom: 0; }
.audiotracks-edit-current-data { width: auto; float: none; }
#slug { 
  float: left;
  margin-bottom: 30px;
}

#audiotracks-upload-form legend { padding-left: 0; }
#audiotracks-upload-form label { width: auto; margin-right: 10px; }
#slug label {
  display: block; 
  width: auto; 
  float: none; 
  text-align: left; 
}
#id_description { width: 630px; }
.btn.small { padding: 2px; }
.audiotracks-download { margin: 16px 0; }

.audiotracks-list-entry {
  padding: 24px 0;
  border-color: #eee;
  border-style: solid;
  border-width: 1px 0;
}

.audiotracks-list-entry:not(:first-child) {
  border-top: 0;
}

.audiotracks-list-entry .track-title {
  font-size: 24px;
  line-height: 24px;
}

.track-image {
  float: left;
  margin-right: 10px;
}

.audiotracks-detail .track-image {
  display: none;
}

.audiotracks-detail .audiotracks-list-entry {
  margin: 12px 12px 24px 12px;
  float: left;
  width: 596px; /* 820 - 200 - (2 * 12) */
}

.audiotracks-detail img:first-child {
  float: left;
}
